.span4
  %h3 Next actions

- @next_actions.each do |action|
  .well.span6
    = link_to action.description, next_action_path(action)
    - if action.project
      %span.label.label-info.oo-project-label= action.project.name
    = link_to "×", action, :method => :delete, :type=> "button", :class => "close"
