.span4
  %h3 Next actions

- @next_actions.each do |action|
  .well.span6
    = link_to action.description, next_action_path(action)
    = link_to "×", action, :method => :delete, :type=> "button", :class => "close"    
    - if action.project
      = link_to action.project.name, project_path(action.project), :class => "label label-info oo-project-label"
