.span4
  %h3 Next actions

- @actions.each do |action|
  .well.span6
    = link_to action.description, action_path(action)
    = link_to "×", action, :method => :delete, :type=> "button", :class => "close"
