%h1 Incoming stuff

.span4
  %button.btn.btn-primary{onclick: "location.href = '/stuff/new'"} NEW
  
  / = link_to '+', new_stuff_path
- @stuff.each do |stuff|
  .well.span6
    = link_to stuff.description, edit_stuff_path(stuff)
    = link_to '×', stuff, :method => :delete


