.span4
  %h3 Projects

- @projects.each do |project|
  .well.span6
    = link_to project.name, project_path(project)    
    - if project.next_actions.any?
      %span.label.label-info.oo-project-label= project.next_actions.count
    = link_to "×", project, :method => :delete, :type=> "button", :class => "close"

