- if current_user
  .span3
    .well.sidebar-nav-inverse
      %ul.nav.nav-list
        %li.nav-header Collect
        %li
          %a{href: "/stuff"} Stuff
        %li.nav-header Focus
        %li
          %a{href: "/next"} Next
        %li
          %a{href: "/scheduled"} Scheduled
        %li
          %a{href: "/deligated"} Deligated
        %li.nav-header Organize
        %li
          %a{href: "/projects"} Projects
        %li
          %a{href: "/archive"} Archive
        %li
          %a{href: "/areas"} Areas
        %li.nav-header Contact
        %li
          %a{href: "/people"} People
        